html {
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
}

/*
* {
    outline: 1px solid red !important;
}
 */

/* ---------- Main Content ---------- */

.ABOUTME_CONTEXT_BOX {
    /*
    outline: 1px solid orange !important;
    */
}

.ABOUTME_content_box {
    margin-top: 0rem;
    height: 50rem;
    background-color: #3d0008ff;
}

.ABOUTME_content {
    transform: translateY(10rem);

    display: flex;
    align-items: center;
    justify-content: center;
}

/* ---------- Main Discription ---------- */

.ABOUTEME_main_discription {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    gap: 2rem;

    list-style: none;
}

.ABOUTME_main_body {
    display: block;
    justify-content: center;
    align-items: center;
}

/* ---------- Discription ---------- */

.ABOUTME_discription {
    display: flex;

    text-align: center;
    align-items: center;
    justify-content: center;

    color: #fff5f8;
    font-weight: bolder;
    font-size: 1.2rem;

}

/* ---------- Image Discription ---------- */

.ABOUTME_main_image_image {
    display: flex;
    justify-content: center;
}

.ABOUTME_main_image_emoji {
    width: 20em;
}

/* ---------- Overview ---------- */

.ABOUTME_overview_content_box {
    margin-top: -30%;
}

.ABOUTME_overview_box {
    background-color: #5c3131
}

.ABOUTME_overview_box {

}

.ABOUTME_overview_content {
    height: 40rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ---------- Overview Discription ---------- */