html {
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
}

/* ---------- Main Content ---------- */

.SERVERSMACKDOWN_content_box {
    margin-top: -400px;
    height: 800px;
    background-color: #3d0008ff;
}

.SERVERSMACKDOWN_content {
    transform: translateY(10rem);

    display: flex;
    align-items: center;
    justify-content: center;
}

/* ---------- Main Discription ---------- */

.SERVERSMACKDOWN_main_discription {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    gap: 2rem;

    list-style: none;
}

.SERVERSMACKDOWN_main_body {

    width: 50%;

    display: block;
    justify-content: center;
    align-items: center;
}

/* ---------- Discription ---------- */

.SERVERSMACKDOWN_discription {
    display: flex;

    text-align: center;
    align-items: center;
    justify-content: center;

    color: #fff5f8;
    font-weight: bolder;
    font-size: 1.2rem;

}

/* ---------- Image Discription ---------- */

.SERVERSMACKDOWN_main_image_image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.SERVERSMACKDOWN_main_image_emoji {
    width: 40%
}

/* ---------- Overview ---------- */

.SERVERSMACKDOWN_overview_box {
    margin-top: 0px;
    height: 800px;
    background-color: #5c3131
}

.SERVERSMACKDOWN_overview_content {
    transform: translateY(10rem);

    display: flex;
    align-items: center;
    justify-content: center;
}

/* ---------- Overview Discription ---------- */