html{
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
}

/*
* {
    outline: 1px solid red !important;
}
 */

a {
    text-decoration: none;
}

.MAIN_contents {
    margin-top: -400px;
    height: 500px;
    background-color: #3d0008ff;
}

.HOME_content_list {
    max-width: 100%;
    transform: translateY(10rem);

    .HOME_content_buttons {

        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        gap: 2rem;

        margin: 20px auto 0;

        list-style: none;
    }
}

.HOME_sub_content_list {
    max-width: 100%;
    transform: translateY(10rem);

    .HOME_sub_content_buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        gap: 2rem;

        margin: 20px auto 0;

        list-style: none;
    }
}

.HOME_CARD:hover{
    transform: translateY(-10%);
}
.HOME_CARD_ICON:hover {
    transform: translateY(-10%);
}

.HOME_CARD {

    border-radius: 10px;

    padding: 2rem;
    width: 22%;

    justify-content: center;

    transform: translateY(0);
    transition: all 0.2s ease-in-out;

    .HOME_CARD_top_row {
        display: flex;
        align-items: center;
        justify-content: left;
        gap: 1rem;

        .HOME_subtext {
            color: white;
            text-decoration: none;
            font-size: 2rem;
            font-weight: lighter;
        }
    }
    .HOME_CARD_bottom_row {
        display: flex;
        align-items: center;
        justify-content: left;
        transform: translateY(-1em);

        .HOME_subtext {
            color: white;
            text-decoration: none;
        }
    }
}

.HOME_CARD_ICON {
    border-radius: 10px;

    padding: 1rem;


    justify-content: center;

    transform: translateY(0);
    transition: all 0.2s ease-in-out;

    .HOME_CARD_IMAGE {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
}

#youtube {
    background-color: #FF0000;
}
#twitch {
    background-color: #9146ff;
}
#discord {
    background-color: #7289DA;
}
#instagram {
    background: linear-gradient(to top right,#d62976,#fa7e1e);
}
#bluesky {
    background-color: #01A5FF;
}
#twitter {
    background-color: #000000;
}